############
## Project
############

classifier/hourly.csv
.ipynb_checkpoints/
# Generated corpus files
tweet-stream.json
# Custom configuration settings
#config.yaml
scraper/json/
scraper/output/

############
## Libraries
############

tweepy/


#############
## Python
#############

*.py[co]
venv/
